.productCardRECOMMEND-Card {
  display: flex;
  flex-direction: column;

  position: relative;
  padding-bottom: 15px;
  img {
    width: 200px;
    margin-bottom: 10px;
  }
  p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 5px;
    border: 0.5px solid #00000030;
    padding: 2px 4px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    font-size: 14px;
  }

  &-color {
    height: 3.5px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  &:hover {
    box-shadow: 0px 0px 5px #00000050;
    p {
      background-color: tomato;
      color: white;
    }
  }
}
