.FilterPage-wraper {
  display: flex;
  width: 1360px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 100px;
  button {
    outline: none;
    &:hover {
      outline: none;
    }
  }
  .loadingImg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filterIcon {
    display: none;
    position: fixed;
    width: 2.5em;
    padding: 6px;
    background-color: #e54d3e;
    margin-top: 10px;
    right: 0;
    border-radius: 2px;
    z-index: 20;
    box-shadow: 0 0 5px #00000060;
    svg {
      color: white;
    }
  }
  .productFilter {
    width: 100%;
    margin-top: 20px;
    transition: 0.5s ease;
    &-wraper {
      width: 100%;
      margin: 0 auto;
      border: 0.5px solid #00000030;
      overflow: hidden;
      position: relative;
    }
    &-title {
      width: 100%;
      background-color: white;
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 0.5px solid #00000030;
      justify-content: space-between;
      p {
        margin-block-end: 0;
        margin-block-start: 0;
        color: black;
        font-weight: 500;
        text-transform: uppercase;
      }
      select {
        border-radius: 0;
      }
    }
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 10px;
      justify-content: center;
    }
    .loadmore {
      display: flex;
      justify-content: center;
      button {
        background-color: white;
        color: #e54d3e;
        border: 1px solid #e54d3e;
        transition: all 0.2s;
        margin-bottom: 5px;
        margin-top: 5px;

        &:hover {
          background-color: #e54d3e;
          color: white;
          border: 1px solid #00000030;
        }
      }
    }
  }
}

@media screen and (max-width: 1360px) {
  .FilterPage-wraper {
    width: 100%;
    &-left {
      width: 25%;
    }
    &-right {
      width: 75%;
    }
    .DefaultTerm {
      &-header {
        &-header-link {
          font-size: 0.9em;
        }
        &-body {
          padding: 0 0.6em;
          padding-bottom: 1em;
          label {
            font-size: 0.95em;
          }
        }
      }
      .productFilter {
        &-wraper {
          width: 100%;
        }
      }
    }
    .FilterPage-wraper-right-container-PositionTop-left {
      flex-wrap: wrap;
    }
    .FilterPage-wraper-right-container-PositionTop-right {
      .btn-group {
        margin-right: 0.5em;
        button,
        select {
          width: 6.5em;
          font-size: 0.9em;
        }
      }
    }
    .FilterPage-wraper-right-container-ProductCardFILTER {
      justify-content: space-between;
      padding: 0 10px;
    }
  }
}
@media screen and (max-width: 800px) {
  .FilterPage-wraper {
    padding-top: 100px;
    .filterIcon {
      display: block;
    }
    &-left {
      display: none;
    }
    &-right {
      width: 100%;
      &-container-PositionTop {
        &-left {
          display: none;
        }
        &-right {
          margin-left: 12px;
        }
      }
    }
    .productFilter {
      &-wraper {
        width: 100%;
      }
    }
  }
}
