.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  &-topBar {
    width: 100%;
    background-color: #ee2a25;

    &-container {
      width: 1360px;
      margin: 0 auto;
      background-color: #ee2a25;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0px;
      font-size: 14px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.left_topBar {
  width: 80%;
}

.right_topBar {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .avatarUser {
    width: 20px;
    height: 20px;
  }
  button {
    border: 0.5px solid black;
    margin-left: 5px;
  }
}

.mainMenu {
  width: 100%;
  background-color: #e54d3e;

  &-row {
    width: 1360px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;

    .mobileMenu {
      display: none;
    }
    &-item1 {
      display: flex;
      flex-direction: row;
      width: 20%;

      svg {
        width: 32px;
        height: 32px;
      }

      div {
        padding: 0px 12px;
        display: flex;
        align-items: center;
        a {
          color: white;
          text-transform: uppercase;
          font-weight: 600;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-item2 {
      form {
        width: 800px;
        height: 36px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        #historyQuery {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 100%;
          top: 100%;
          left: 0;
          z-index: 20;

          background: white;
          transform: scale(0);
          transition: transform 0.25s ease;

          input {
            text-align: left;
            background-color: white;
            padding-left: 5px;

            &:hover {
              // background-color: #e54d3e;
              color: #e54d3e;
            }
          }
        }
        input {
          height: 36px;
          border: none;
          padding: 0;
          padding-left: 5px;
        }
        .labelName {
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 20px;
          }
          p {
            font-weight: 600;
          }
        }
        .searchBox {
          width: 550px;
        }
        .searchButton {
          width: 100px;
          background-color: #f5a623;
          color: white;
          cursor: pointer;
          height: 36px;
          margin-block-end: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;

          &:hover {
            background-color: orange;
            text-decoration: none;
          }
        }

        label {
          width: 120px;
          border: 1px dashed #a2a2a2;
          border-radius: 15px;
          padding-right: 10px;
          padding-left: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 28px;
          font-size: 12px;
          background-color: #efefef;
          margin-bottom: 0;

          span:nth-child(1) {
            padding-right: 5px;
          }
          span:nth-child(2) {
            color: black;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }

    &-item3 {
      //   width: 200px;
      flex-direction: row;
      display: flex;
      align-items: center;
      padding: 0 12px;

      span {
        width: 70px;
        cursor: pointer;
        font-size: 13px;
        color: white;
      }

      &-images {
        cursor: pointer;
        img {
          width: 36px;
          padding-right: 5px;
        }
      }

      &-button {
        svg {
          fill: white;
          transform: rotate(180deg);
          cursor: pointer;
        }
      }
    }
    &-item4 {
      position: relative;
      svg {
        width: 36px;
        fill: white;
        cursor: pointer;
      }
      span {
        position: absolute;
        top: -7px;
        right: -5px;
        background: red;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        color: white;
        justify-content: center;
        border: 1px solid white;
        font-size: 0.8em;
        font-weight: 500;
      }
    }
  }
}
/*Modal Login*/
.modal-wraper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-direction: column;
  background-color: #060606db;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow-y: hidden;

  .modal-title {
    background-color: #ee2a25;
    height: 50px;
    width: 40rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    justify-content: space-between;
    padding-right: 10px;
    button {
      border: none;
    }
  }
  .modal-body {
    padding: 3rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: inherit;

    #login {
      display: flex;
      flex-direction: column;
      width: 60%;

      input {
        width: 100%;
        height: 3rem;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        background-color: white;
        border: none;
        border-bottom: 0.5px solid black;
        ::-webkit-input-placeholder {
          /* Edge */
          color: #e54d3e;
        }
        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #e54d3e;
        }
        ::placeholder {
          color: #e54d3e;
        }

        &:focus {
          outline: none;
          border: none;
          background-color: white;
          // color: #e54d3e;
          border-bottom: 0.5px solid #e54d3e;
        }
      }
    }

    #logout {
      button {
        outline: none;
        border: 0.5px solid black;
        margin-left: 0.5rem;
        &:hover {
          background-color: #e54d3e;
          color: white;
        }
      }
    }
    #register {
      display: flex;
      flex-direction: column;
      display: flex;
      flex-direction: column;
      width: 60%;

      input {
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        background-color: white;
        border: none;
        border-bottom: 0.5px solid black;
        ::-webkit-input-placeholder {
          /* Edge */
          color: #e54d3e;
        }
        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #e54d3e;
        }
        ::placeholder {
          color: #e54d3e;
        }

        &:focus {
          outline: none;
          border: none;
          background-color: white;
          // color: #e54d3e;
          border-bottom: 0.5px solid #e54d3e;
        }
      }
    }
    .modal-container-button {
      display: flex;
      flex-direction: column;
      outline: none;
      align-items: flex-end;
      p {
        font-size: 1rem;
      }
      button {
        width: 8rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        border: 0.5px solid darkgray;
        transition: 0.2s ease;
        &:hover {
          background-color: #e54d3e;
          color: white;
        }
      }
    }
  }
}
/*Reposive*/
@media screen and (max-width: 1360px) {
  .header {
    width: 100%;
    &-topBar {
      width: 100%;
      padding: 0px 12px;
      &-container {
        width: 100%;
      }
    }
  }
  .mainMenu {
    width: 100%;
    &-row {
      width: 100%;
      padding: 12px;
      justify-content: space-between;

      .mobileMenu {
        display: none;
        &-container {
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          display: flex;
          flex-direction: column;
          // align-items: center;
          // justify-content: center;
          background-color: rosybrown;
          z-index: 1000;
          transition: 0.5s ease;

          &-title {
            background-color: white;
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: center;
            position: relative;
            p {
              color: #ee2a25;
              font-size: 16px;
              font-weight: 500;
              padding-left: 20px;
              letter-spacing: 4px;
              text-transform: uppercase;
            }
            button {
              position: absolute;
              right: 20px;
              /* border: none; */
              background: white;
              box-shadow: none;
            }
          }
          a {
            display: flex;
            align-items: center;
            height: 50px;
            padding-left: 20px;
            font-size: 20px;
            font-weight: 500;
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      &-item1 {
        width: 20%;
      }
      &-item2 {
        width: 50%;
        form {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1210px) {
  .mainMenu {
    &-row {
      &-item1 {
        width: 25%;
      }
      &-item3 {
        width: 25%;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .mainMenu {
    &-row {
      &-item1 {
        width: 28%;
        div {
          a {
            font-size: 14.5px;
          }
        }
      }
      &-item2 {
        width: 45%;
        form {
          width: 100%;
        }
      }
      &-item3 {
        width: 27%;
      }
    }
  }
}
@media screen and (max-width: 925px) {
  .mainMenu {
    &-row {
      &-item1 {
        width: 30%;
        div {
          a {
            font-size: 14px;
          }
        }
      }
      &-item2 {
        width: 35%;
        form {
          width: 100%;
        }
      }
      &-item3 {
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .header {
    &-topBar {
      &-container {
        .left_topBar {
          width: auto;
        }
        .right_topBar {
          width: auto;
        }
      }
    }
    .mainMenu {
      &-row {
        &-item1 {
          width: 10%;
          div {
            display: none;
          }
        }

        &-item2 {
          width: 70%;
          form {
            width: 100%;
          }
        }
        &-item3 {
          display: none;
        }
        .mobileMenu {
          display: block;
        }
      }
    }
    .modal-wraper {
      .modal-title {
        width: 30rem;
      }
      .modal-body {
        width: 30rem;
        .modal-container-button {
          button {
            font-size: 0.8rem;
            width: 5rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .mainMenu {
      &-row {
        &-item2 {
          width: 60%;
          form {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    .mainMenu {
      &-row {
        &-item2 {
          width: 60%;
          form {
            width: 100%;
          }
        }
      }
    }
    .modal-wraper {
      .modal-title {
        width: 20rem;
      }
      .modal-body {
        width: 20rem;
        padding: 1rem;
        .modal-container-button {
          button {
            font-size: 0.8rem;
            width: 5rem;
          }
          p {
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .mainMenu {
    &-row {
      &-item2 {
        width: 60%;
        form {
          width: 100%;
        }
      }
    }
  }
}
// @media screen and (max-width: 440px) {
//   .header .mainMenu-row-item2 form {
//     width: 250px;

//     .searchButton {
//       font-size: 14px;
//       padding: 0 4px;
//     }
//   }
// }

@media screen and (max-width: 390px) {
  .mainMenu {
    &-row {
      &-item2 {
        width: 30%;
        form {
          width: 100%;
          input {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .searchButton {
            font-size: 14px;
            padding: 0 4px;
          }
        }
      }
    }
  }
}
